@media only screen and (min-width: 1024px) {
    .burger-menu {
        display: none;
    }

    .desktop-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        list-style: none;
        color: white;
        padding: 0.5rem;
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 2;
        background-color: black;
        margin-bottom: 1.5rem;
        padding: 0;
        padding: 0 0.75rem;
    }

    nav h2 {
        display: block;
        color: white;
    }

    #logo {
        display: none;
    }
}